body{
	background: linear-gradient(to bottom, #ccc 50%, #fff 50%);
}
.header{
	background-color: #ff0000;
	opacity: .5;
	padding: 5px 20px;
	font-family: 'ALS Malina', sans-serif;
	font-size: 20px;
}
.content{
	background-color: blue;
	opacity: .5;
	padding: 5px 20px;
	li {
		font-family: 'PT Sans', sans-serif;
		font-weight: normal;
		font-style: italic;
	}
}
.footer{
	background-color: green;
	opacity: .5;
	padding: 5px 20px;
}
.header, .content, .footer {
	color: #fff;
}
@include sprites($spritesheet-sprites);
.test {
	padding: 10px 10px;
	list-style: none;
}
.sprite {
	display: inline-block;
	margin-right: 20px;
}